.table {
  background-color: #dcccff;
  color:  black;
  font-family: apple chancery;
  width: 75%;
  font-weight: bold;
  font-size: 170%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  }
h2 {
  color: #800000;
  text-align: center;
  font-size: 300%;
  font-family: apple chancery;
}
.more {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.table, th, td {
  border: 3px solid  #4d0099;
  }
body {
  background-color: #ff4d4d;
  }
.date {
 margin-left: auto;
 margin-right: auto;
 margin-top: 185px;
 margin-bottom: 40px;
 display: block;
 text-align: center;
 font-size: 130%;
  }
img, iframe {
  margin-top: 20px;
  }
td {
  text-align: center;
}
th {
  font-size: 130%;
}
.centerClass {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 100%;
  font-weight: bold;
  font-family: helvetica;
  margin-top: 20px;
}
.tableClass {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  font-size: 110%;
  font-weight: bold;
  font-style: helvetica;
  }
.titleClass {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  font-size: 110%;
  font-weight: bold;
  font-style: helvetica;
}
.yearClass{
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 110%;
  font-weight: bold;
  font-style: helvetica;
}
.displayClass{
  display: none;
}
.tableButton{
  margin-top: 30px;
}
